label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/*Green-App title*/
.navbar-brand {
  color: white;
  text-shadow: #ddd;
  font-weight: bolder;
}

/*Other buttons like Home User, Login Register*/
.nav-link {
  color: white;
  text-shadow: #ddd;
  font-weight: normal;
}

img[alt="thegreeninvestorlogo"] {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 220%;
}

/* the line under the nav bar*/
.border-bottom-line {
  -webkit-box-shadow: 0px 1px 1px #010101;
  -moz-box-shadow: 0px 1px 1px #040404;
  box-shadow: 5px 5px 10px #00500793;
}

.center {
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid whitesmoke; */
  padding: 10px;
}

/* css to fit background image to screen */
.App {
  background-image: url("../src/assets/green-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin-top: 0px;
  font-size: 20px;
}

.main {
  width: 100%;
  height: 100vh;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* container for the buttons */
.block {
  /* display: block; */
  margin-top: 6px;
  display: inline-block;
  width: 100%;
  height: 7.5vh;
  border: none;
  background-color: #f7f7f7b8;
  padding: 14px 28px;
  font-size: 1.5vw;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

/* when hover over the container for the buttons */
.block:hover {
  background-color: #ddd;
  color: black;
}

.button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(145, 92, 182);
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

/* hover over buttons */
.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

/* on click buttons */
.glow-button:active {
  background-color: #569d80;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* container for the game panel */
.q-container {
  width: 100%;
  height: 50%;
}

.components-common-assets-LoginPopup {
	position: relative;
	width: 60rem;
	height: 38rem;
	background: url(assets/popup_bg.png) 50%/contain no-repeat;
  padding: 100px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 5px;
  max-width: 350px !important;
}